node_modules
block-explorer/node_modules
block-explorer/dist
block-explorer/.data

artifacts
cache
types
coverage
snapshots

.git
.env
.env.*
address-labels.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
