# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Local Ignition deployment state
/ignition/deployments/chain-31337

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Environment files
.env
.env.*
!.env.example
address-labels.env

# Hardhat coverage reports
/coverage

# Gas snapshot files
/.gas-snapshot

# Snapshot cheatcodes output
/snapshots
